{% extends 'layouts/auth.html' %} {% block body %}
<div class="d-flex justify-content-center align-items-center vh-100">
    <form
        action="{{ url_for('register') }}"
        id="myForm"
        method="post"
        class="rounded-4 bg-white p-3 shadow-lg"
        style="
            background: rgba(77, 108, 201, 0.5);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            width: 500px;
        "
    >
        <div class="mb-3">
            <h1>
                <span class="badge rounded-pill text-bg-primary">Register</span>
            </h1>
        </div>
        <div class="d-flex gap-5">
            <!-- Left -->
            <div class="mt-2">
                <div class="mb-1">
                    <label for="fname" class="form-label">First Name</label>
                    <input
                        type="text"
                        name="fname"
                        class="form-control"
                        id="fname"
                        placeholder="Type Here"
                        required
                    />
                </div>
                <div class="mb-1">
                    <label for="mname" class="form-label">Middle Name</label>
                    <input
                        type="text"
                        name="mname"
                        class="form-control"
                        id="mname"
                        placeholder="Type Here"
                        required
                    />
                </div>
                <div class="mb-1">
                    <label for="lname" class="form-label">Last Name</label>
                    <input
                        type="lname"
                        name="lname"
                        class="form-control"
                        id="lname"
                        placeholder="Type Here"
                        required
                    />
                </div>
            </div>

            <!-- Right -->
            <div class="mt-2">
                <div class="mb-1">
                    <label for="email" class="form-label">Email</label>
                    <input
                        type="email"
                        name="email"
                        class="form-control"
                        id="email"
                        placeholder="imongemail@gmail.com"
                        required
                    />
                </div>
                <div class="mb-1">
                    <label for="password" class="form-label">Password</label>
                    <input
                        type="password"
                        name="password"
                        class="form-control"
                        id="password"
                        required
                    />
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between mt-3">
            <a href="/login">Already have an account?</a>
            <input
                type="submit"
                value="Submit"
                class="btn btn-primary"
                id="toastBtn"
            />
        </div>
    </form>
</div>
<script></script>
{% endblock %}
